.default-btn(@font-color: white, @bg-color: @header-font-color) {
    color: @font-color;
    background: @bg-color;
    border-radius: 6px;
    padding: 0.7rem 1.7rem;
    font-size: 1.8rem;
    display: inline-block;
    border: 2px solid transparent;
}